<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>363532607884-tpe3braq0dvk4ksb9kiuirlkr0ves5aq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.363532607884-tpe3braq0dvk4ksb9kiuirlkr0ves5aq</string>
	<key>API_KEY</key>
	<string>AIzaSyDP2-BivqsMbVQSIbY3K-d91j9_DHGGvyA</string>
	<key>GCM_SENDER_ID</key>
	<string>363532607884</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pawelmilek.InfiniteScrollingDemo</string>
	<key>PROJECT_ID</key>
	<string>infinitescrollingdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>infinitescrollingdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:363532607884:ios:516bc31388c954ec</string>
	<key>DATABASE_URL</key>
	<string>https://infinitescrollingdemo.firebaseio.com</string>
</dict>
</plist>